<!-- logo image didn't quite fit with the navbar and the page... so use text logo. -->
<!-- <img src="./assets/hackru-sp17-logo-white.svg" alt="HackRU Logo"> -->
<div class="row">
	<div class="col-xs-12 col-sm-4 col-sm-offset-1">
		<h4 class="text-logo text-left-not-xs text-center-xs"><a href="/">HackRU Spring 2017</a></h4>
	</div>
	<div class="col-xs-12 col-sm-7 col-md-6">
		<ul id="nav-list" class="text-right-not-xs text-center-xs">
			<li><h4><a href="/#about">about</a></h4></li>
			<li><h4><a href="/#schedule">schedule</a></h4></li>
			<li><h4><a href="/#sponsors">sponsors</a></h4></li>
			<li><h4><a href="/#faqs">faqs</a></h4></li>
		</ul>
	</div>
</div>

